/* Your Custom Code */
body {
    background-color: black;
    font-family: "Fira Sans", "Trebuchet MS", Helvetica, Arial, sans-serif;
    /* without the below line main would not get to 60 rem, was  too narrow */
    display: block;

}


h1, h2, h3, h4, h5, h6 {
    color: #fcff54;
    margin: 1rem;
}

p {
    /* margin: 1rem; */
    font-size: 1rem;
}

section {
    border-top: 2px solid #54fffc;
    padding-top: 1.5rem;

}

main {
    height: auto;
    padding: 20px;
    max-width: 62rem;
    background-color: #0502ab;
    margin: 0 auto;
}

.row {
    display: flex; justify-content: center; align-items: center;
}

.square {
    margin: 25px;
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 5px solid white;
    border-radius: 5%;
    border-top: 5px solid black;
    border-right: 5px solid black;
}

.red {
    background-color: red;
    /* transform: skewX(15deg); */
    margin-left: 175px;

  }
  
  .green {
    background-color: green;
    /* transform: skewY(15deg); */

  }

  button {
    padding: 1rem;
    background-color: #a9abab;
    color: black;
    border:none;
    box-shadow: 0.5rem 0.5rem black;
    margin: 1rem;
  }

  button:hover {
    background-color:#ffff4f;
    box-shadow: 0.5rem 0.5rem white;
}

  .translate {
    transform: translate(120px, -50%); 
  }

  .skewX {
    transform: skewX(15deg);
  }

  .skewY {
    transform: skewY(15deg); 
  }

  .skewXY {
    transform: skew(15deg, 15deg); 
  }
  .scale {
    transform: scale(2, 0.5); 
  }

  .rotate1 {
    transform: rotate(45deg);
  }

  .rotate2 {
    transform: rotate(-0.125turn);
  }

  .matrix {
    transform: matrix(2, 0, 1, 0.5, 0, 20);
  }