/* Your Custom Code */
body {
  color: white;
  background-color: black;
  overflow-x: hidden;
}


main {
  height: auto;
  max-width: 62rem;
  background-color: #0502ab;
  margin: 0 auto;
}




/* code demo for css animation intro*/
.box {
  width: auto;
  height: 100px;
  background-color: coral;
  animation: changeColor 3s infinite;
}

@keyframes changeColor {
  0% {
    background-color: coral;
  }

  50% {
    background-color: yellow;
  }

  100% {
    background-color: coral;
  }
}

/* code demo for css animation keyframes*/
.key-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 20px;
}

.spin {
  width: 100px;
  height: 100px;
  background-color: teal;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* key example */
.key-example-code {
  background-color: rgb(49, 82, 134);
  border-radius: 20px;
  padding: 20px;
}

/* code demo for css animation advanced */
.advanced-demo-con{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.bounce {
  width: 180px;
  height: 100px;
  background-color: lightblue;
  animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20px);
  }
}

@media (min-width: 40em) {
  
  /* code demo for css animation keyframes*/
  .key-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 20px;
    justify-items: center
  }

  .spin {
    width: 100px;
    height: 100px;
  }



  /* code demo for css animation advanced */
  .advanced-demo-con{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    justify-items: center
  }

  .bounce {
    width: 250px;
    height: 100px;
  }
  
}

/* code demo for css animation advanced */
button {
  padding: 15px 30px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  animation: pulse 1.5s infinite;
  transition: background-color 0.3s ease;
  /* Smooth color transition on hover */
}


button:hover {
  animation: none;
  /* Stop the pulsing animation */
  background-color: #FF5722;
  /* Change color to orange */
}


@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}