body {
    background-color: black;
    /* font-family: "Lucida Console"; */
    font-family: "Fira Sans", "Trebuchet MS", Helvetica, Arial, sans-serif;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #fcff54;
    margin: 1rem;
}

p {
    margin: 1rem;
    font-size: 1rem;
}

.container {
    background-color: #0502ab;
    color: #54fffc;
    max-width: 60rem;
    margin: 0 auto;
    margin-top: 0;
    display: flex;
    flex-direction: column;
}

header, footer {
    background-color: #03a8ab;
    height: 4rem;
    color: black;
    text-align: center;
}

header h1 {
    color: black;
    text-align: left;
    margin-left: 1rem;
}

main {
    padding: 0.5rem;
    min-height: 84vh;
    border: 5px double #54fffc;
}


footer p {
    margin: 0;
    padding-top: 1.5rem;
    line-height: 1.6;
    font-size: smaller;
    font-weight: 500;
}

/* can use the below styling for any type of button you may want to have on your page */
#submit-button:hover {
    background-color:#ffff4f;
}

#submit-button {
    padding: 0.5rem;
    background-color: #ff5454;
    color: black;
    border:none;
    box-shadow: 0.5rem 0.5rem black;
    margin: 0.25rem;
}


/* can use the below styling for any code section you want highlighted */
.blockquote-section {
    border: 2px solid white;
    background-color: #a8a8a8;
    color: black;
}

/* alternative styling for the code section if you want it to "pop" more */
form {

    background-color: #a80000;
    color: white;
    display: inline-block;
    width: 30rem;
    padding: 1rem;
    box-shadow: 1rem 1rem 0 1rem black;
    margin: 2rem;
    border: 4px double white;
    outline: 1rem solid #a80000;
}